:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--default-font-family);
}
h1 {
  font-size: 96px;
  font-weight: bold;
  font-family: var(--heading-font-family);
  color: black;
  line-height: 1.2;
}
h2 {
  font-size: 64px;
  font-family: var(--heading-font-family);
}

.homepage-intro h2 {
  font-size: 34px;
  color: #272142;
  font-weight: bold;
  margin: 0;
}
h3 {
  font-size: 24px;
  font-weight: normal;
  line-height: 2;
}
h4 {
  font-size: 48px;
  font-family: var(--heading-font-family);
}

nav {
  padding: 20px 0;
}

nav p {
  display: inline;
  margin: 6px;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 36px;
  margin-left: 15px;
}
nav li.active a,
a:hover {
  color: var(--branding-color);
}
nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background-color: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}
footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background-color: var(--secondary-color);
  font-size: 18px;
  padding: 10px 14px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background-color: var(--branding-color);
}

.homepage-intro {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}
.btn-branding {
  background-color: var(--branding-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  display: inline-block;
  text-align: center;
}

.btn-branding-outline {
  border-radius: 4px;
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
  background-color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  display: inline-block;
}
.about-me-link {
  color: white;
  text-decoration: none;
}
.project-description {
  padding: 120px 60px;
}
.content-container {
  padding: 160px 20px;
}
.content {
  margin: 30px;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
}
.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
  font-weight: bold;
}
.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}
.content p {
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.text-center {
  text-align: center !important;
}
@media (max-width: 900px) {
  h1 {
    font-size: 46px;
    line-height: 2;
  }
  h2 {
    font-size: 46px;
  }
  .homepage-intro {
    padding: 80px 20px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .content {
    text-align: center;
    padding: 0;
  }
}
